<a href="https://colab.research.google.com/github/shubhankar77/EDA/blob/main/hotal_booking.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
import numpy as np

1) What type of hotel does a customer book in general?
2) Which year most of customers arrive?
3) Which are the busiest months in the year of hotel booking?
4) How many booking were cancelled.
5) From which country most guests arrive.
6) How customers booked their hotel from market segment.
7) How many customers were stays in week nights and booking changes?
8) How many repeated customers?
9) Deposit type payment of customer?
10) Correlation of Data Set

In [34]:
import pandas as pd

In [35]:
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Hotel Bookings.csv')

In [36]:
# df.head()

In [37]:
# df.dtypes

In [38]:
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [39]:
df.isnull().sum().sort_values(ascending=False)[:10]

company                   112593
agent                      16340
country                      488
children                       4
reserved_room_type             0
assigned_room_type             0
booking_changes                0
deposit_type                   0
hotel                          0
previous_cancellations         0
dtype: int64

###1) What type of hotel does a customer book in general?

In [40]:
hotel_types=df['hotel'].value_counts()
hotel_types

City Hotel      79330
Resort Hotel    40060
Name: hotel, dtype: int64

In [41]:
#hotel_type=df.groupby('hotel')

In [42]:
#hotel_type.count()

###2) Which year most of customers arrive?

In [43]:
most_customers=df['arrival_date_year'].value_counts()
most_customers

2016    56707
2017    40687
2015    21996
Name: arrival_date_year, dtype: int64

In [44]:
mot=df.groupby('hotel')['arrival_date_year']

In [58]:
mot.value_counts().unstack()

arrival_date_year   2015   2016   2017
hotel
City Hotel         13682  38140  27508
Resort Hotel        8314  18567  13179

###3) Which are the busiest months in the year of hotel booking?

In [46]:
active_month=df['arrival_date_month'].value_counts()

In [47]:
active_month.sort_values

<bound method Series.sort_values of August       13877
July         12661
May          11791
October      11160
April        11089
June         10939
September    10508
March         9794
February      8068
November      6794
December      6780
January       5929
Name: arrival_date_month, dtype: int64>

###4) How many booking were cancelled.

In [48]:
cancelled_booking1=df['is_canceled'].value_counts()
cancelled_booking1

0    75166
1    44224
Name: is_canceled, dtype: int64

In [49]:
hote_can=df.groupby('hotel')['is_canceled']

In [50]:
hote_can.value_counts()

hotel         is_canceled
City Hotel    0              46228
              1              33102
Resort Hotel  0              28938
              1              11122
Name: is_canceled, dtype: int64

###5) From which country most guests arrive.

In [51]:
cust_country=df['country'].value_counts()

In [52]:
cust_country.value_counts()

1      30
2      17
4       8
3       6
5       6
       ..
259     1
287     1
362     1
426     1
75      1
Name: country, Length: 85, dtype: int64

###6) How customers booked their hotel from market segment.

In [53]:
market_seg=df['market_segment'].value_counts()

In [54]:
market_seg

Online TA        56477
Offline TA/TO    24219
Groups           19811
Direct           12606
Corporate         5295
Complementary      743
Aviation           237
Undefined            2
Name: market_segment, dtype: int64

### 7) How many customers were stays in week nights and booking changes?

In [55]:
#stay_week_night=df['stays_in_week_nights','booking_changes'].value_counts()

In [56]:
#stay_week_night